/ServerPackages
/DevPackages
/Packages

assets/**/*.png
output/**/*.rbxm

asphalt.toml
asphalt.lock.toml
asphalt_personal.toml
asphalt.toml.bak
asphalt_group.toml

generated.luau
generated_animations.luau

.asphalt_codegen_ignored
.asphalt_tmp_uuid

sourcemap.json
.ds_store